@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/*
Tag
*/

html {
      overflow:auto;
      scroll-behavior:smooth;
}

html::-webkit-scrollbar {
      width:7px;
}

html::-webkit-scrollbar-thumb {
      background-color:#3d3d3d;
}

html::-webkit-scrollbar-track {
      background-color:silver;
      box-shadow:inset 0 0 5px white;
}

body {
    margin:0;
    padding:0;
    overflow-x:hidden;
    font-family: 'Roboto', sans-serif;
    background-color:white;
}


/*
Id
*/

#notice {
    width:100%;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    color:white;
    background-color:#3d3d3d;
    border-bottom:3px solid #b9ff87;
}

#title {
    width:100%;
    text-align:center;
    padding-top:15px;
    padding-bottom:10px;
    color:white;
    background-color:#3d3d3d;
}

#menu {
    width:100%;
    color:white;
    background-color:#3d3d3d;
    box-shadow:0 5px 5px -5px #787878;
    overflow-x:auto;
    white-space:nowrap;
}

#menu a.here {
    color:white;
    border-color:#8affa9;
}

#menu a.here:hover {
    color:white;
    border-color:#8affa9;
}

#menu a {
    display:inline-block;
    color:silver;
    text-align:center;
    padding:15px;
    padding-bottom:12px;
    text-decoration:none;
    border-bottom:3px solid #3d3d3d;
}

#menu a:hover {
    color:white;
    border-color:silver;
}


/*
Class
*/

.fixed {
    position:fixed;
}
